* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #D9B036;
}

header {
    height: 70px;
    background-color: #1445D9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.senha {
    padding: 30px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: #696a70;
    color: white;
    font-size: 48px;
    min-width: 400px;
}

#senha {
    border: 1px solid wheat;
    border-radius: 30px;
    padding: 20px;
    background-color: #D9B036;
    text-align: center;
}
